######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.junie
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
/cheng.deploy/deploy
/cheng.deploy/logs
/cheng.deploy/frontend-dist
/cheng.deploy/temp
/cheng.deploy/docs
/cheng.deploy/nginx/proxy-ssl.conf
/cheng.deploy/README.md

######################################################################
# Documentation & Development Notes
/docs/
/sql/
docker-compose.zeabur.yml

######################################################################
# IDE Settings
.vscode/
.windsurf/

######################################################################
# Vue 3 Upgrade Documentation (Internal)
/cheng-ui/DEPENDENCY_UPGRADE_ANALYSIS.md
/cheng-ui/PHASE1_CHECKLIST.md
/cheng-ui/ROLLBACK_PLAN.md
/cheng-ui/TESTING_CHECKLIST.md
/cheng-ui/VUE3_UPGRADE_PROGRESS.md
